
.icon-quote:before { content: '\e800'; } /* '' */
.icon-responsive:before { content: '\e801'; } /* '' */
.icon-return:before { content: '\e802'; } /* '' */
.icon-right-arrow:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-settings:before { content: '\e805'; } /* '' */
.icon-shoping:before { content: '\e806'; } /* '' */
.icon-shopping-bag:before { content: '\e807'; } /* '' */
.icon-stethoscope:before { content: '\e808'; } /* '' */
.icon-surgical:before { content: '\e809'; } /* '' */
.icon-telephone:before { content: '\e80a'; } /* '' */
.icon-user:before { content: '\e80b'; } /* '' */
.icon-uterus:before { content: '\e80c'; } /* '' */
.icon-cardiogram:before { content: '\e80d'; } /* '' */
.icon-chat:before { content: '\e80e'; } /* '' */
.icon-clock:before { content: '\e80f'; } /* '' */
.icon-favorites:before { content: '\e810'; } /* '' */
.icon-gastric-reflux:before { content: '\e811'; } /* '' */
.icon-heart:before { content: '\e812'; } /* '' */
.icon-human-body:before { content: '\e813'; } /* '' */
.icon-laboratory:before { content: '\e814'; } /* '' */
.icon-layers:before { content: '\e815'; } /* '' */
.icon-left-arrow:before { content: '\e816'; } /* '' */
.icon-liver:before { content: '\e817'; } /* '' */
.icon-mamary-gland:before { content: '\e818'; } /* '' */
.icon-med_sign:before { content: '\e819'; } /* '' */
.icon-meeting-point:before { content: '\e81a'; } /* '' */
.icon-mri-2:before { content: '\e81b'; } /* '' */
.icon-neurology_2:before { content: '\e81c'; } /* '' */
.icon-ortop:before { content: '\e81d'; } /* '' */
.icon-play-button:before { content: '\e81e'; } /* '' */
.icon-03:before { content: '\e81f'; } /* '' */
.icon-04:before { content: '\e820'; } /* '' */
.icon-05:before { content: '\e821'; } /* '' */
.icon-06:before { content: '\e822'; } /* '' */
.icon-07:before { content: '\e823'; } /* '' */
.icon-08:before { content: '\e824'; } /* '' */
.icon-09:before { content: '\e825'; } /* '' */
.icon-01:before { content: '\e826'; } /* '' */
.icon-02:before { content: '\e827'; } /* '' */
.icon-bicycle:before { content: '\e828'; } /* '' */
.icon-cardiogram-1:before { content: '\e829'; } /* '' */
.icon-discount:before { content: '\e82a'; } /* '' */
.icon-friendly:before { content: '\e82b'; } /* '' */
.icon-waist:before { content: '\e82c'; } /* '' */
.icon-apple:before { content: '\e82d'; } /* '' */